
html, body {
    background: #F2F2F2;
}

main {
    width: 98%;
    margin: 0 auto 0;
    padding: 20px 0;
}

.green {
    color: #0099FF;
}

.red {
    color: #FF5722;
}

@media screen and (max-width: 768px) {
    .H{
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .H {
        height: 300px;
        overflow-y: auto;
    }
}

.submit, .reset {
    cursor: pointer;
    position: fixed;
    width: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(0, 134, 123, 0.7);
    -webkit-transition: all .6s;
    transition: all .6s;
    color: white;
    z-index: 9999;
    bottom: 20px;
    right: 20px;
    border-radius: 80px;
}

.submit:hover, .reset:hover {
    background: #5FB878;
}

.layui-form-item {
    overflow-x: auto;
}

.layui-form-radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.layui-form-radio > div {
    white-space: nowrap;
}

.clock {
    position: fixed;
    z-index: 9999;
    left: 20px;
    bottom: 20px;
    padding: 25px;
    background: rgba(0, 134, 123, 0.7);
    color: white;
    border-radius: 5px;
}
